<div class = "container ListPlayTable">
    <h4 style = "text-align: center;"><i class = "fa fa-window-restore"></i><b>Danh sách bàn cờ</b></h4>
    <div class = "d-flex flex-wrap detailPlayTable">
        
    </div>
</div>