<div class="decorNavbar">
    <h5><i class = "fa fa-database" style = "font-size: 30px;"></i><b>Function</b></h5>
    <div style = "margin-left : 2px">
        <div class="functionNavbar" id="createPlayTable"><i class = "fa fa-key"></i>Tạo bàn chơi</div>
        <div class="functionNavbar" id="rating"><i class = "fa fa-key"></i>Bảng xếp hạng</div>
        <div class="functionNavbar" id="yourTable"><i class = "fa fa-key"></i>Vào table của bạn</div>
    </div>
</div>
